@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
.body {
  margin: 0;
}

.hero {
  &__card {
    margin-top: 0;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    &::before {
      content: "Welcome to Star Wars";
      position: absolute;
      top: 10rem;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 4rem;
    }
  }
  &__img {
    background-image: url("../assets/images/hero_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 40%;
  }

  &__sound {
    height: 4rem;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
